<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SendTo" value="mail@mail.ru;gmail@gmail.ru" />
		<add key="SendFrom" value="mail@yandex.ru" />
		<add key="SendPassword" value="ssssssG" />
		<add key="ConnectionString" value="test" />
		<add key="Authorization" value="Basic test" />
		<add key="Url" value="https://owen.ru/upl/obmen_files/price_dealer.xls" />
		<add key="client_id" value="test" />
	</appSettings>
</configuration>